@import 'vars';

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin flex() {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@mixin paddingLR($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}

summary {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.box_content {
    overflow: hidden;
}

.header_line {
    background-color: $colorBgDark;
    padding-top: 18px;
    padding-bottom: 20px;
    @include paddingLR(15%, 15%);
    @include flex();
    position: relative;

    &_imgLeft {
        display: flex;
        gap: 41px;
    }

    &_imgRight {
        display: flex;
        gap: 41px;
    }

    &_imgRight img {
        width: 30px;
    }

    &_imgRight img:hover {
        background-color: $colorDetails;
    }
}

.header_lineLight {
    background-color: $colorBgLight;
    @include flex();
    @include paddingLR(15%, 15%);

    &_textLeft {
        display: flex;
        color: $colorDetails;
        font-size: 24px;
        font-weight: 400;
        padding-top: 60px;
        padding-bottom: 60px;
    }

}


.nav-item {
    list-style-type: none;
}




.content {
    padding-left: 15%;
    padding-top: 64px;
    padding-bottom: 96px;
    display: flex;
    gap: 128px;

    &__form {
        width: 390px;

        .instruction_password {
            color: #B1B1B1;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-bottom: 39px;
        }

        .button_form {
            width: 167px;
            height: 50px;
            border: 1px solid $colorGrey;
            background-color: $colorDetails;
            color: white;

            &_svg {
                padding-left: 10px;
            }
        }

        .button_form:hover {
            background-color: #c9c5c6;
            transition: 0.3s;
        }

        .button_form:active {
            background-color: #908d8d;
            color: #E1E1E1;
            transition: 0.3s;
        }
    }

    &__form_input {
        display: flex;
        flex-direction: column;
        gap: 21px;

        .input {
            width: 350px;
            height: 45px;
            padding-left: 10px;
            color: $colorGrey;
            border: 1px solid $colorGrey;
            font-size: 13px;
        }
    }

    &__form_radio {
        display: flex;
        gap: 20px;
        align-items: center;
        padding-top: 33px;
        padding-bottom: 35px;
    }

    .radio__input {
        display: flex;
        align-items: center;

        .radio_button {
            width: 17px;
            height: 17px;
            margin-right: 10px;

        }
    }

    &__information {
        width: 652px;
        color: #555252;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;

        &_title {
            padding-bottom: 22px;
        }

        &_text {
            padding-bottom: 21px;
        }

        &_list {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .list_item {
            list-style-type: none;
        }

        .list_item:before {
            content: url(./img/icons/vector.svg);
            padding-right: 10px;
        }
    }


}


.footer {

    .light_block {
        display: flex;
        flex-direction: row;

    }


    .light_block_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }

    .content_light_block {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .light_block1 {
        width: 358px;
        position: absolute;
        z-index: 999;
        padding-top: 97px;
        margin-left: 25%;

    }

    .light_block1 img {
        padding-bottom: 30px;
    }

    .light_block1 p {
        font-family: Lato;
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        text-align: center;
    }

    .light_block2 {
        padding-top: 155px;
        margin-left: 50%;
        width: 557px;
        position: absolute;
        z-index: 9999;
    }

    .light_block2 p {
        margin-bottom: 32px;
        font-family: Lato;
        font-size: 18px;
        font-style: normal;
    }

    .footer_button {
        display: flex;
        justify-content: center;
    }

    .input_grey {
        width: 256px;
        height: 49px;
        background-color: #E1E1E1;
        border-radius: 30px 0 0 30px;
        border: 0;
        margin: 0;
        text-align: left;
        padding: 0px 15px;
    }

    .input_grey:hover {
        background-color: #c9c5c6;
    }

    .input_grey:active {
        background-color: #908d8d;
        color: #E1E1E1;

    }


    .button_ping {
        width: 100px;
        height: 49px;
        background-color: #F16D7F;
        border: 0;
        border-radius: 0 30px 30px 0px;
        margin: 0;
        color: white;
    }

    .button_ping:hover {
        background-color: #aba9a9;
    }

    .button_ping:active {
        background-color: #f3556a;
        color: #000;
    }

    .lower_block {
        background-color: #222222;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include paddingLR(15%, 15%)
    }

    .adress_text {
        width: 332px;
        padding-top: 30px;
        padding-bottom: 30px;
        color: white;
        font-family: Lato;
        font-size: 16px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 7px;
    }

    .icon_img {
        width: 31px;
        height: 31px;
        background-color: #E1E1E1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon_img:hover {
        background-color: #F16D7F;
    }

    .icon_img:active {
        background-color: #9f9d9d;
    }

}

@media (max-width: 1024px) {

    .header_line {

        @include paddingLR(5%, 5%);
    }

    .header_lineLight {
        @include paddingLR(5%, 5%);
    }


    .content {
        padding-left: 2%;
        gap: 22px
    }

    .content__information {
        font-size: 16px;
    }




    .footer .light_block {
        flex-direction: column;
        height: 90vh;
        align-items: center;
    }


    .light_block_img {
        width: 100%;
        height: 200%;

    }

    .footer .light_block1 {
        margin: 0;
        padding-top: 10%;

    }

    .footer .light_block2 {
        margin-top: 0;
        margin-left: 0;
        padding-top: 300px;
    }

    .footer .lower_block {
        @include paddingLR(5%, 5%)
    }



}

@media (max-width: 425px) {
    .header_line {
        @include paddingLR(16px, 16px);
    }

    .header_line_imgRight a:nth-child(2) {
        display: none;
    }

    .header_line_imgRight a:nth-child(3) {
        display: none;
    }

    .header_lineLight {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 46px;

    }

    .header_lineLight_textLeft {
        padding-top: 24px;
        padding-bottom: 0px;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(1, 360px);
        gap: 32px;
        padding-top: 39px;
    }

    .content__information {
        width: 360px;
    }

    .content__form {
        width: 360px;
        height: 100vh;
        flex-direction: column;

    }

    .footer .light_block2 {
        padding-top: 70%;
        width: 360px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer .light_block2 {
        padding-top: 80%;
    }

    .adress_text {
        display: flex;
        justify-content: center;
    }

    .footer_buuton .input_grey {
        width: 246px;
    }

    .lower_block {
        padding-top: 43px;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .footer_buuton .button_ping {
        width: 80px;
    }

    .footer_light_block .light_block2 p {
        font-family: Lato;
        font-size: 14px;
    }

}