*{
    margin: 0;
    padding: 0;
}
$colorSelectSite: #3a3fcc ;
$colorBgBlock: #222;
$widthSite:1000px;
a{
    text-decoration: none;
}

.center{
    padding-left: calc(50% - $widthSite/2);
    padding-right: calc(50% - $widthSite/2);
}

.header{
    width: $widthSite;
    background-color: $colorBgBlock;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headerLine{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgLeft{
    display: flex;
    align-items: center;
    gap:40px
}

.imgRight{
    padding-left: calc(100% - $widthSite/4);
}
.top_heading{
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(241, 227, 233);
    justify-content: space-between;

}

.top_head_heading{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    color: $colorSelectSite;
}

.bread_crumbs_link{
    color: #5f5a5a;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
}

.bread_crumbs_site{
    font-size: 26px;
    color: $colorSelectSite;
}