* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

.header_line {
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_line_imgLeft {
  display: flex;
  gap: 41px;
}
.header_line_imgRight {
  display: flex;
  gap: 41px;
}
.header_line_imgRight img {
  width: 30px;
}
.header_line_imgRight img:hover {
  background-color: #F16D7F;
}

.header_picture {
  background-color: #F1E4E6;
  display: flex;
}
.header_picture_img {
  background-color: #E5E5E5;
  width: 50%;
}
.header_picture_title {
  display: flex;
  width: 50%;
  gap: 16px;
  padding-top: 290px;
  padding-left: 63px;
  height: 92px;
}
.header_picture_text {
  color: #222;
  font-size: 3rem;
  font-weight: 900;
  line-height: 40px;
  padding-top: 1%;
}

.header_picture_text strong {
  font-size: 32px;
  font-weight: 700;
}

.header_picture_text span {
  color: #F16D7F;
}

.menu {
  padding-top: 65px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  gap: 30px;
}
.menu_menuItem {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #222;
}

.menu_menuItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.textOverlay {
  display: inline-block;
  position: absolute;
  top: 40%;
  left: 35%;
  z-index: 1;
  color: #F1E4E6;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.bigItem {
  grid-column: span 3;
}

.textOverlay span {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.bigCard {
  top: 45%;
  left: 42%;
}

.titleContent {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textTitleContent {
  color: #222;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  justify-content: center;
  gap: 30px;
}

.product_description {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product_description_nextName {
  color: #222;
  font-weight: 400;
  font-size: 20px;
}
.product_description_textDescription {
  color: #6f6f6f;
  font-weight: 300;
  line-height: normal;
}
.product_description_price {
  color: #F16D7F;
  font-size: 19px;
  font-weight: 400;
}

.product img {
  width: 100%;
  height: 419px;
  display: block;
}

.product .product2 {
  background-color: #F7E4E2;
  width: 380px;
  height: 419px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-fit: contain;
     object-fit: contain;
}

.buttonBloc {
  margin-top: 48px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.buttonBloc_button {
  width: 212px;
  height: 48px;
  border: #F16D7F solid 1px;
  background-color: white;
  color: #F26376;
  font-size: 18px;
  font-weight: 400;
}
.buttonBloc_button:hover {
  background-color: #F16D7F;
  color: #F1E4E6;
  transition: 0.5s;
}

.footer_black_block {
  background-color: #222224;
  display: grid;
  grid-template-columns: repeat(3, 380px);
  justify-content: center;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 104px;
}

.footer_black_block_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #F7E4E2;
}
.footer_black_block_content .footer_black_block_content img {
  padding-bottom: 31px;
}
.footer_black_block_content .footer_black_block_content:nth-child(2) img {
  padding-bottom: 25px;
}
.footer_black_block_content .heading_black {
  padding-bottom: 16px;
}
.footer_black_block_content .footer_black_block_content p {
  padding-left: 16px;
}

.footer_light_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer_light_block .light_block_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.footer_light_block .content_light_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 9999;
}
.footer_light_block .light_block1 {
  width: 358px;
  margin-left: 20%;
}
.footer_light_block .light_block1 img {
  padding-bottom: 30px;
}
.footer_light_block .light_block1 p {
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}
.footer_light_block .light_block2 {
  margin-left: 50%;
  width: 557px;
}
.footer_light_block .light_block2 p {
  margin-bottom: 32px;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
}
.footer_light_block .footer_button {
  display: flex;
  justify-content: center;
}
.footer_light_block .input_grey {
  width: 256px;
  height: 49px;
  background-color: #E1E1E1;
  border: 0;
  border-radius: 30px 0 0 30px;
  margin: 0;
  text-align: left;
  padding-left: 10px;
}
.footer_light_block .input_grey:hover {
  background-color: #c9c5c6;
}
.footer_light_block .input_grey:active {
  background-color: #908d8d;
  color: #E1E1E1;
}
.footer_light_block .button_ping {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border: 0;
  border-radius: 0 30px 30px 0px;
  margin: 0;
  color: #F8F8F8;
}
.footer_light_block .button_ping:hover {
  background-color: #aba9a9;
}
.footer_light_block .button_ping:active {
  background-color: #f3556a;
  color: #000;
}

.footer_lower_block {
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;
}
.footer_lower_block .adress_text {
  width: 332px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
  color: white;
  font-family: Lato;
  font-size: 16px;
}
.footer_lower_block .icons {
  display: flex;
  gap: 7px;
}
.footer_lower_block .icon_img {
  width: 31px;
  height: 31px;
  background-color: #E1E1E1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_lower_block .icon_img:hover {
  background-color: #F16D7F;
}
.footer_lower_block .icon_img:active {
  background-color: #9f9d9d;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header_picture_img {
    width: 50%;
  }
  .header_picture_img img {
    width: 75%;
  }
  .header_picture_title {
    padding-top: 10%;
    padding-left: 3%;
  }
  .header_picture_text {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 30px;
  }
  .header_picture_text strong {
    font-size: 24px;
  }
  .menu {
    grid-template-columns: repeat(3, 233px);
    gap: 16px;
  }
  .textOverlay {
    left: 20%;
  }
  .bigCard {
    top: 35%;
    left: 40%;
  }
  .content {
    grid-template-columns: repeat(2, 380px);
    gap: 16px;
  }
  .buttonBloc {
    margin-top: 32px;
    margin-bottom: 65px;
  }
  .footer_black_block {
    grid-template-columns: repeat(1, 380px);
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .footer_light_block {
    flex-direction: column;
  }
  .footer_light_block .light_block1 {
    padding-top: 10%;
    margin-left: 0;
  }
  .footer_light_block .light_block2 {
    margin-left: 0%;
    padding-top: 60%;
  }
  .light_block_img {
    width: 100%;
    height: 200%;
  }
  .footer_light_block {
    height: 90vh;
  }
}/*# sourceMappingURL=styles.css.map */