@import 'vars';

@mixin flex() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin paddingLR($pl, $pr) {
    padding-left: $pl;
    padding-right: $pr;
}

.header_line {
    background-color: $colorBgDark;
    padding-top: 18px;
    padding-bottom: 20px;
    @include paddingLR(15%, 15%);
    @include flex();

    &_imgLeft {
        display: flex;
        gap: 41px;
    }

    &_imgRight {
        display: flex;
        gap: 41px;
    }

    &_imgRight img {
        width: 30px;
    }

    &_imgRight img:hover {
        background-color: $colorDetails;
    }
}

.header_lineLight {
    background-color: $colorBgLight;
    @include flex();
    @include padingLR(15%, 15%);

    &_textLeft {
        color: $colorDetails;
        font-size: 24px;
        font-weight: 400;
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

// .nav-link .active {
//     color: $colorDetails;
//     font-weight: 700;
// }